<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit | <%= spell.name %></title>
</head>
<body>
    <header>
        <nav>
        <div><h1>MySpellbook</h1></div>
        <div><a href="/"id="home">Home</a></div>
        <div>

            <form action="/sessions?_method=DELETE" method="post">
            <input class="log-out" type="submit" value="Log Out" />
        </form>
        </div>
        </nav>
    </header>
    <main>
        <section id="edit-page">
            <div>
        <h1>Edit Spell: <%= spell.name %></h1>
        <form action="/spells/<%= spell.id %>?_method=PUT" method="post" id="edit-spell">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" value="<%= spell.name %>" required>

            <label for="level">Level: </label>
            <!-- used to find min/max https://www.w3schools.com/tags/att_input_type_number.asp#:~:text=The%20%3Cinput%20type%3D%22number,specifies%20the%20minimum%20value%20allowed -->
            <input type="number" name="level" id="level" min="0" max="9" value="<%= spell.level %>" required>

            <label for="description">Description: </label>
            <textarea name="description" id="description" cols="30" rows="10"><%= spell.description %></textarea>

            <label for="range">Range: </label>
            <input type="text" name="range" id="range" value="<%= spell.range %>">

            <label for="school">School: </label>
            <input type="text" name="school" id="school" value="<%= spell.school %>">

            <label for="materials">Materials</label>
            <input type="text" name="materials" id="materials" value="<%= spell.materials %>">

            <label for="components">Components: </label>
            <input type="text" name="components" id="components" value="<%= spell.components %>">

            <label for="casting-time">Casting Time: </label>
            <input type="text" name="casting-time" id="casting-time" value="<%= spell.castingTime %>">

            <label for="duration">Duration: </label>
            <input type="text" name="duration" id="duration" value="<%= spell.duration %>">

            <input type="submit" value="Submit">
        </form>
    </div>
    </section>
    </main>
</body>
</html>