<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= spell.name %></title>
</head>
<body>
    <h1><%= spell.name %> - 
        <% if (spell.level > 0) { %>
            Level <%= spell.level %> <%= spell.school %> Spell</h1>
        <% } else { %>
            Cantrip - <%= spell.school %>
            <% } %>
        </h1>
    <section>
    <h2>Description</h2>
    <ul>
        <% spell.description.forEach(paragraph => { %>
         <li>
            <%= paragraph %>
         </li>
        <% }) %>
    </ul>
</section>
<section id="sub-description">
    <div id="range">Range: <%= spell.range %></div>
    <div id="casting-time">Casting Time: <%= spell.castingTime %></div>
    <div id="duration">Duration: <%= spell.duration %></div>
</section>
</body>
</html>