<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spellbook Dashboard</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <ul>
        <% spells.forEach(spell => { %>
            <% switch (spell.level) {
                case 0: %>
                Cantrips
                <li>
                    <a href="/spells/<%= spell._id %>">
                        <%= spell.name %>
                    </a>
                </li>
                    <% break;
                case 1: %>
                Level 1 spells
                <li>
                    <a href="/spells/<%= spell._id %>">
                        <%= spell.name %>
                    </a>
                </li>
                <% break;
                case 2: %>
                Level 2 spells
                <li>
                    <a href="/spells/<%= spell._id %>">
                        <%= spell.name %>
                    </a>
                </li>
                   <% break;
                   case 3: %>
                Level 3 spells
                <li>
                    <a href="/spells/<%= spell._id %>">
                        <%= spell.name %>
                    </a>
                </li>
                   <% break;
                   case 4: %>
                Level 4 spells
                <li>
                    <a href="/spells/<%= spell._id %>">
                        <%= spell.name %>
                    </a>
                </li>
                   <% break;
                   case 5: %>
                Level 5 spells
                <li>
                    <a href="/spells/<%= spell._id %>">
                        <%= spell.name %>
                    </a>
                </li>
                   <% break;
                   case 6: %>
                Level 6 spells
                <li>
                    <a href="/spells/<%= spell._id %>">
                        <%= spell.name %>
                    </a>
                </li>
                   <% break;
                   case 7: %>
                Level 7 spells
                <li>
                    <a href="/spells/<%= spell._id %>">
                        <%= spell.name %>
                    </a>
                </li>
                   <% break;
                   case 8: %>
                Level 8 spells
                <li>
                    <a href="/spells/<%= spell._id %>">
                        <%= spell.name %>
                    </a>
                </li>
                   <% break;
                   case 9: %>
                Level 9 spells
                <li>
                    <a href="/spells/<%= spell._id %>">
                        <%= spell.name %>
                    </a>
                </li>
                   <% break;
            } %>
        <% }) %>
    </ul>
</body>
</html>